* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.layout {
    max-width: 1100px;
    margin: 20px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: transparent;
}

.layout a, li {
    list-style-type: none;
    text-decoration: none;
}

.layout .nombre {
    text-align: center;
    background-color: gray;
    color: white;
    max-width: 270px;
}

.layout img {
    width: 270px;
    height: 420px;
}
