:root {
    --blanco: #fff;

    --primario: #FF8087;
    --secundario: #754345;

    /* extras */
    --rojo: #DB252E;
    --cafeOscuro: #423334;
    --negro: #332A2B;

    --fuentePrincipal: 'Outfit';
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Globales */
body {
    background-color: var(--blanco);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--negro);
}

a {
    text-decoration: none;
}

img {
    width: 90%
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/* Navegacion */
.nav-bg {
    background-color: var(--negro);
}

.navegacion {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navegacion a {
    padding: .5rem;
}

@media (min-width: 768px) {
    .navegacion {
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 1rem;
        gap: 2rem;
    }
}

.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
    padding-right: 2.5rem;
}

.navegacion__enlace:last-of-type {
    margin-right: 0;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--primario);
}

.flex {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .flex {
        display: grid;
        grid-template-columns: 20% 80%;
        gap: 2rem;
    }
}

@media (min-width: 768px) {
    .contenedor {
        max-width: 120rem;
        margin: 0 auto;
    }

}


.nombreJapones {
    font-family: 'Noto Sans JP';
}

/* animes de index y listado */
.animes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media (min-width: 768px) {
    .animes {
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }
}

.anime {
    padding: 1rem;
}

/* temporadas de index y pagina de temporadas */

.temporadas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

@media (min-width: 768px) {
    .temporadas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }
}

.temporadas {
    text-align: center;
}

.temporada__enlace:hover {
    color: var(--secundario);
}

.temporada p {
    font-size: smaller;
    margin: 0;
}

.temporada a .temporada p {
    width: max-content;
}

/* para pagina anime */

.resultado,
.soundtrack {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
}

.resultado img {
    width: 70%;
}

.recomendacion img,
.personajes img {
    width: 15%;
}

.recomendaciones,
.personajes {
    display: grid;
    grid-template-columns: repeat(autofill, minmax(200px, 1fr));
    gap: 2rem;
}

.informacion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;

    text-align: center;
}