<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
    <h1 th:text="${titulo}"></h1>

    <nav>
        <a th:href="@{}">Inicio</a>
        <a th:href="@{/anime/listado/1}">Listado de anime</a>
    </nav>

    <form th:action="@{/anime/busqueda}" method="post">
        <input type="text" name="nombre" placeholder="Buscador de animes, manga, peliculas , etc...">
        <input type="submit" value="Buscar">
    </form>

    <h2 th:text="${subtitulo}"></h2>

    <footer>Derechos reservados Anime Tracker</footer>
</body>

</html>