<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Outfit:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />
</head>

<body>
    <header>
        <a th:href="@{/}">
            <h1 th:text="${titulo}"></h1>
        </a>
    </header>

    <div>
        <nav class="navegacion">
            <a class="navegacion__enlace" th:href="@{/}">Inicio</a>
            <a class="navegacion__enlace" th:href="@{/anime/listado/1}">Listado de anime</a>
            <a class="navegacion__enlace" href="#">Busqueda</a>
    </div>
    
    <main class="contenedor">
        <div class="flex">
            <div th:if="${temporadas.size() == 0}">
                No hay temporadas en la lista
            </div>

            <div>
                <h3>Seasons</h3>
                <div class="temporadas" th:if="${!temporadas.isEmpty()}">
                    <div class="temporada" th:each="temporada : ${temporadas}">
                        <a th:href="@{anime/season/} + ${temporada}">
                            <p th:text="${temporada}"></p>
                        </a>
                    </div>
                </div>
            </div>

            <div th:if="${animes.size() == 0}">
                No hay animes en la lista
            </div>
            <div>
                <h2>Season now</h2>
                <div class="animes" th:if="${!animes.isEmpty()}">
                    <div class="anime" th:each="anime : ${animes}">
                        <a th:href="@{/anime/} + ${anime.id}">
                            <img th:src="${anime.imagen}" th:alt="${anime.nombre}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>Derechos reservados Anime Tracker</footer>
</body>

</html>