<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
    <h1 th:text="${titulo}"></h1>
    <div th:if="${animes.size() == 0}">No hay animes en la lista</div>
    <ul class="layout" th:if="${!animes.isEmpty()}">
        <li th:each="anime : ${animes}">
            <a th:href="@{/app/anime/} + ${anime.id}">
                <div>
                    <img th:src="${anime.imagen}" th:alt="'Imagen de ' + ${anime.nombre}">
                </div>
                <div class="nombre">
                    <p class="texto" th:text="${anime.nombre}"></p>
                </div>
            </a>

        </li>
    </ul>
</body>

</html>