<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Outfit:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />
</head>

<body>
    <header>
        <a th:href="@{/}">
            <h1>AnimeTracker</h1>
        </a>
    </header>

    <div>
        <nav class="navegacion">
            <a class="navegacion__enlace" th:href="@{/}">Home</a>
            <a class="navegacion__enlace" th:href="@{/anime/listado/1}">Anime list</a>
            <a class="navegacion__enlace" href="busqueda.html">Search</a>
    </div>

    <main>
        <h2>Anime list</h2>

        <div th:if="${animes.size() == 0}">
            No hay animes en la lista
        </div>

        <div class="animes" th:if="${!animes.isEmpty()}">
            <div class="anime" th:each="anime : ${animes}">
                <a th:href="@{/anime/} + ${anime.id}">
                    <img th:src="${anime.imagen}" th:alt="${anime.nombre}">
                </a>
            </div>
        </div>
    </main>


    <div>
        <ul class="paginacion">
            <li th:if="${pagina} > 1">
                <a th:href="@{/anime/listado/} + (${pagina} - 1)">Anterior</a>
            </li>

            <li th:if="${pagina} < ${ultimaPagina}">
                <a th:href="@{/anime/listado/} + (${pagina} + 1)">Siguiente</a>
            </li>
        </ul>
    </div>

    <footer>Derechos reservados Anime Tracker</footer>
</body>

</html>