<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Outfit:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />
</head>

<body>
    <header>
        <a th:href="@{/}">
            <h1 th:text="${titulo}"></h1>
        </a>
    </header>

    <div>
        <nav class="navegacion">
            <a class="navegacion__enlace" th:href="@{/}">Home</a>
            <a class="navegacion__enlace" th:href="@{/anime/listado/1}">Anime list</a>
            <a class="navegacion__enlace" href="busqueda.html">Search</a>
    </div>

    <form th:action="@{/anime/busqueda}" method="post">
        <input type="text" name="nombre" placeholder="Buscador de animes, manga, peliculas , etc...">
        <input type="submit" value="Buscar">
    </form>

    <h2 th:text="${subtitulo}"></h2>

    <div th:if="${animes.size() == 0}">
        No hay animes en la lista
    </div>

    <ul class="layout" th:if="${!animes.isEmpty()}">
        <li th:each="anime : ${animes}">
            <a th:href="@{/anime/} + ${anime.id}">
                <div>
                    <img th:src="${anime.imagen}" th:alt="${anime.nombre}">
                </div>
            </a>
        </li>
    </ul>

    <footer>Derechos reservados Anime Tracker</footer>
</body>

</html>